body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f4f6f8;
    color: #333;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
    //background-color: #1e3a8a;
    color: black;
    padding: 20px;
    text-align: right-side;
	
}

nav {
    background-color: blue;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 12px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 14px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #1e40af;
}

main {
	flex: 1;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
	margin-left: auto;
}

.profile {
    text-align: center;
}

.profile img {
    width: 160px;
    border-radius: 50%;
    margin-bottom: 15px;
}

header h1 {
	margin-bottom: 6px;
}


h2 {
    color: blue;
}

header h2 {
	margin-top: 1;
}

.skills-list {
	margin-left: 15px;
	margin-bottom: 10px;
	margin-right: 5px;
	line-height: 1.6;
	list-style-type: disc;
}

.skills-list li {
	margin-bottom: 5px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: blue;
    color: black;
    margin-top: 25px;
}
